@import "tailwindcss";
@import "open-props/easings";

@layer base {
  /* 1. Use a more-intuitive box-sizing model */
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  /* 2. Remove default margin */
  * {
    margin: 0;
  }

  body {
    /* 3. Add accessible line-height */
    line-height: 1.5;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
  }

  /* 5. Improve media defaults */
  img,
  picture,
  video,
  canvas,
  svg {
    display: block;
    max-width: 100%;
  }

  /* 6. Inherit fonts for form controls */
  input,
  button,
  textarea,
  select {
    font: inherit;
  }

  /* 7. Avoid text overflows */
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    overflow-wrap: break-word;
  }

  /* 8. Improve line wrapping */
  p {
    text-wrap: pretty;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-wrap: balance;
  }

  /*
  9. Create a root stacking context
*/
  #root {
    isolation: isolate;
  }
}

@layer base {
  :root {
    --body-color: #070707;
    --body-background: fixed linear-gradient(transparent, #fff 70%),
      fixed
        repeating-linear-gradient(
          to bottom,
          #efefef,
          #efefef 1px,
          transparent 1px,
          transparent 40px
        ),
      fixed
        repeating-linear-gradient(
          to right,
          #efefef,
          #efefef 1px,
          transparent 1px,
          transparent 40px
        )
        white;

    /*define light theme variables  */
    --highlight: #6202ff;
    --background: #f7f0f0;
  }

  .dark {
    --body-color: #fff;
    --body-background: fixed linear-gradient(transparent, #070707 70%),
      fixed
        repeating-linear-gradient(
          to bottom,
          #2b2b2b,
          #2b2b2b 1px,
          transparent 1px,
          transparent 40px
        ),
      fixed
        repeating-linear-gradient(
          to right,
          #2b2b2b,
          #2b2b2b 1px,
          transparent 1px,
          transparent 40px
        )
        #070707;

    /*define light theme variables  */
    --highlight: #3a0492;
    --background: #080808;
  }

  body {
    color: var(--body-color);
    background: var(--body-background);
  }
}

@variant dark (&:where(.dark, .dark *));

@theme {
  /* breakpoint definition */
  --breakpoint-sm: 520px;
  --breakpoint-lg: 976px;

  /* font definition */
  --font-poppins: "Poppins", "sans-serif";
  --text-4_5xl: 2.625rem;
  --text-4_5xl--line-height: 1.15;
  --text-5xl: 3.375rem;
  --text-5xl--line-height: 1;

  /* colors definition */
  --color-background: var(--background);
  --color-highlight: var(--highlight);

  /* animation definition */
  --animate-fade-in: fade-in 0.4s ease-in-out backwards;
  --animate-slide-up: slide-up 0.3s ease-in-out backwards;
  --animate-slide-left: slide-left 0.3s ease-in-out backwards;
  --animate-slide-right: slide-right 0.3s ease-in-out backwards;
  --animate-roll-reveal: roll-reveal 0.4s var(--ease-spring-3) backwards;
}

@layer utilities {
  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes slide-up {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes slide-left {
    from {
      opacity: 0;
      transform: translateX(20px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes slide-right {
    from {
      opacity: 0;
      transform: translateX(-20px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes roll-reveal {
    from {
      opacity: 0;
      transform: rotate(12deg) scale(0);
    }
    to {
      opacity: 1;
      transform: rotate(0deg) scale(1);
    }
  }
}
